extends ./base.pug

block styles
    style.
        #section-header:after{
           background:#f2f2f2;
        }
       
block content

    +headerColorBlock('學術論文','banner-publication-min.jpg')

    section#section-publication.ftco-section.bg-light.ftco-slant.ftco-slant-white
        .container
            .row
                .col-md-12.text-center.ftco-animate
                    h2.text-uppercase.ftco-uppercase 學術論文
                    .row.justify-content-center.mb-5
                        .col-md-7
                            p.lead 學術期刊論文（Refereed papers）
            .row
                .col-md-12.mb-5.ftco-animate
                    
                    .list-group-item
                        p.mb-1
                            | 畢恆達、黃海濤、洪文龍、潘柏翰（2017）〈男性青少年同儕群體同嗨（high）的打鬧遊戲：「阿魯巴」〉。《臺灣社會學》，34，1-43。(NSC 99-2410-H-002-161) (TSSCI)
                    .list-group-item
                        p.mb-1
                            | Chen, P.-Y., Peng, L.-P., Bih, H.-D., & Chou, C.-F. (2016). A metaphorical house of Facebook: Usage based on space syntax. International Journal of Space-Based and Situated Computing, 6(4), 252-261. (NSC 103-2410-H-002-077)
                    .list-group-item
                        p.mb-1 彭渰雯、林書伃、畢恆達（2013）〈男女廁之外的「其他」：世新大學「無性別廁所」之經驗評估與省思〉。《女學學誌：婦女與性別研究》，32，43-96。
                        p.mb-0
                            a.btn.btn-primary(href='./download/學術出版/男女廁之外的其他世新大學無性別廁所之經驗評估與省思.pdf') 閱讀全文
                    .list-group-item
                        p.mb-1 蘇怡帆、黃國晏、畢恆達（2012）〈視障者在臺北市空間中的移動經驗〉。《特殊教育學報》，36，93-114。（TSSCI）
                        p.mb-0
                            a.btn.btn-primary(href='./download/學術出版/視障者在臺北市空間中的移動經驗.pdf') 閱讀全文
                    .list-group-item
                        p.mb-1
                            | Bih, H.-D., & Huang, H. (2012). Aluba and “high” culture: Adolescent male peer culture in play. Gender and Education, 24(2), 147-
                            | 158. (NSC 99-2410-H-002-161-) (SSCI)
                        p.mb-0
                            a.btn.btn-primary(href='./download/學術出版/Aluba 2011 paper.pdf') 閱讀全文
                    .list-group-item
                        p.mb-1
                            | Yang, R. J., Huang, L, H., Hsieh, Y. S., Chung, U. L., Huang, C. S., & Bih, H.-D. (2010). Motivations and reasons for women attending a Breast Self-Examination training program: A qualitative study. BMC Women’s Health, 10(23), 23-33. (ISSN: 1472-6874) (Indexed by MEDLINE, PubMed
                            | , Scopus, etc)（通訊作者）
                    .list-group-item
                        p.mb-1
                            | Wang, F. T.-Y., Bih, H.-D., & Brennan, D. J. (2009). Have they really come out: Gay men and their parents in Taiwan. Culture, Health & Sexuality, 11(3), 285-296. (NSC 89-2413-H-002-011) (SSCI)
                        p.mb-0
                            a.btn.btn-primary(href='./download/學術出版/Have they really come out 2009 paper.pdf') 閱讀全文
                    .list-group-item
                        p.mb-1 畢恆達、彭渰雯（2008）〈保護？矯正？排除？女性專用車廂的性別意涵〉。《女學學誌：性別與婦女研究》，25，89-125。
                        p.mb-0
                            a.btn.btn-primary(href='./download/學術出版/女性專用車廂.pdf') 閱讀全文
                    .list-group-item
                        p.mb-1 畢恆達、郭一勤、夏瑞媛（2008）〈台灣的街頭塗鴉文化〉。《台灣社會研究季刊》，70，79-120。（NSC94-2415-H-002-030）（TSSCI）
                        p.mb-0
                            a.btn.btn-primary(href='./download/學術出版/台灣街頭塗鴉文化.pdf') 閱讀全文
                    .list-group-item
                        p.mb-1 Bih, H.-D. (2006). Women and public facilities in Taiwan: Revising policies on public spaces. Women & Environments International Magazine, 70/71, 28-30.
                        p.mb-0
                            a.btn.btn-primary(href='./download/學術出版/Women and public facilities in Taiwan 2006 paper.pdf') 閱讀全文
                    .list-group-item
                        p.mb-1 畢恆達、謝慧娟（2005）〈女性研究者在田野中的性別處境與政治〉。《女學學誌：性別與婦女研究》，20，93-128。
                        p.mb-0
                            a.btn.btn-primary(href='./download/學術出版/女性研究者在田野.pdf') 閱讀全文
                    .list-group-item
                        p.mb-1 畢恆達（2004）〈女性性別意識形成歷程〉。《通識教育季刊》，11(1/2)，111-138。（NSC87-2413-H002-003） 
                        p.mb-0
                            a.btn.btn-primary(href='./download/學術出版/女性性別意識形成歷程.pdf') 閱讀全文
                    .list-group-item
                        p.mb-1 畢恆達（2003）〈請認真傾聽女人的聲音〉。《應用心理研究》，18，37-40。（回應文）
                    .list-group-item
                        p.mb-1 畢恆達（2003）〈男性性別意識之形成〉。《應用心理研究》，17，51-84。(NSC87-2413-H002-003)
                        p.mb-0
                            a.btn.btn-primary(href='./download/學術出版/男性性別意識之形成.pdf') 閱讀全文
                    .list-group-item
                        p.mb-1
                            | 畢恆達（2003）〈男同性戀與父母：現身的考量、策略、時機與後果〉。《女學學誌：性別與婦女研究》，15，37-78。（NSC 89-2413-H-002-011）
                        p.mb-0
                            a.btn.btn-primary(href='./download/學術出版/男同性戀與父母.pdf') 閱讀全文

                    .list-group-item
                        p.mb-1
                            | 黃囇莉、畢恆達（2002）〈當西方菁英碰上本土原生：校園中性騷擾的定義與申訴案件處理之社會文化脈絡〉。《女學學誌：性別與婦女研究》，13
                            | ，91-139。（轉載：王金玲、林維紅（編）（2009）《性別視窗：文化與社會》（頁235-272）。 北京：社會科學文獻出版社。）
                    .list-group-item
                        p.mb-1 畢恆達（2001）〈如何回家？〉。《應用心理研究》，9，37-52。（回應文）
                    .list-group-item
                        p.mb-1 畢恆達、吳昱廷（2000）〈男同志同居伴侶的住宅空間體驗：四個個案〉。《應用心理研究》，8，121-147。
                        p.mb-0
                            a.btn.btn-primary(href='./download/學術出版/男同志同居伴侶的住宅空間體驗.pdf') 閱讀全文
                    .list-group-item
                        p.mb-1
                            | 畢恆達（2000）〈從環境災害過程中探索家的意義：民生別墅與林肯大郡的個案分析〉。《應用心理研究》，8，57-82。(NSC-83-0301-H-002-006, NSC-88-2625-Z-002-045) （2008，中國《社会心理研究》轉載）
                        p.mb-0
                            a.btn.btn-primary(href='./download/學術出版/從環境災害過程中探索家的意義.pdf') 閱讀全文
                    .list-group-item
                        p.mb-1 畢恆達（2000）〈家的意義〉。《應用心理研究》，8，55-56。（專輯導言）（2012，高中職《家庭教育Ⅰ教師手冊》。新北市：龍騰文化）
                        p.mb-0
                            a.btn.btn-primary(href='./download/學術出版/家的意義導言.pdf') 閱讀全文
                    .list-group-item
                        p.mb-1
                            | 畢恆達、郭一勤（1999）〈科技神話的夢魘：民生別墅住宅輻射災害的社會心理衝擊〉。《台灣社會研究季刊》，35，111-162。（NSC-83-0301-H-002-006）（TSSCI）
                        p.mb-0
                            a.btn.btn-primary(href='./download/學術出版/科技神話的夢魘.pdf') 閱讀全文
                    .list-group-item
                        p.mb-1 畢恆達（1996）〈已婚婦女的住宅空間體驗〉。《本土心理學研究》，6，300-352。 (NSC-84-2413-H-002-010) （TSSCI）
                        p.mb-0
                            a.btn.btn-primary(href='./download/學術出版/已婚婦女的住宅空間體驗.pdf') 閱讀全文
                    .list-group-item
                        p.mb-1 畢恆達（1995）〈生活經驗研究的反省：詮釋學的觀點〉。《本土心理學研究》，4，224-259。（TSSCI）
                        p.mb-0
                            a.btn.btn-primary(href='./download/學術出版/生活經驗研究的反省.pdf') 閱讀全文
                    .list-group-item
                        p.mb-1 畢恆達（1993）〈物的意義：一個交互論的觀點〉。《國立台灣大學建築與城鄉研究學報》，7，97-110。
                        p.mb-0
                            a.btn.btn-primary(href='./download/學術出版/物的意義－一個交互論的觀點.pdf') 閱讀全文
                    .list-group-item
                        p.mb-1
                            | Bih, H.-D. (1993). A preliminary study of the process of object meaning. In R. M. Feldman, G. Hardie, & D. G. Saile (Eds.). Power by design: Proceedings of the 24th Annual Conference of the Environmental Design Research Association (pp. 37-40). Environmental Design Research Association.
                        p.mb-0
                            a.btn.btn-primary(href='./download/學術出版/A preliminary study of the process of object meaning 1993 paper.pdf') 閱讀全文
                    .list-group-item
                        p.mb-1
                            | Bih, H.-D. (1992). The meaning of objects in environmental transitions: Experiences of Chinese students in the United States. Journal of Environmental Psychology, 12, 135-147. (SSCI)
                        p.mb-0
                            a.btn.btn-primary(href='./download/學術出版/Bih Meaning of Objects 1992 paper.pdf') 閱讀全文
                    .list-group-item
                        p.mb-1
                            | Bih, H.-D. (1991). The significance of objects in environmental transition. Presented in the twenty-second Annual Conference of the Environmental Design Research Association. (First Prize–Paper, Student Awards) (refereed)
                    .list-group-item
                        p.mb-1 畢恆達（1990）〈東西的意義與環境轉變〉。《國立台灣大學建築與城鄉研究學報》，5，41-56。 
                        p.mb-0
                            a.btn.btn-primary(href='./download/學術出版/東西的意義與環境轉變.pdf') 閱讀全文
                    .list-group-item
                        p.mb-1 畢恆達（1989）〈環境心理學研究資料引介〉。《國立台灣大學建築與城鄉研究學報》，4，115-136。 
                        p.mb-0
                            a.btn.btn-primary(href='./download/學術出版/環境心理學研究資料引介.pdf') 閱讀全文
                    .list-group-item
                        p.mb-1 畢恆達（1983）〈高層國宅之空間設計與鄰里關係：國光社區個案研究〉。《國立台灣大學建築與城鄉研究學報》，2，163-176。
                        p.mb-0
                            a.btn.btn-primary(href='./download/學術出版/高層國宅之空間設計與鄰里關係－國光社區個案研究.pdf') 閱讀全文
                    .list-group-item
                        p.mb-1


            .row
                .col-md-12.text-center.ftco-animate
                    .row.justify-content-center.mb-5
                        .col-md-7
                            p.lead 書籍與專章（Books & Book Chapters）
            .row
                .col-md-12.mb-5.ftco-animate
                    .list-group-item
                        p.mb-1 劉家儀、畢恆達（2020）〈Be water：漫天徹地連儂牆〉。端傳媒（編）《2019香港風暴》（頁208-215）。臺北：春山。
                    .list-group-item
                        p.mb-1
                            | Bih, H.-D. (2017). Pathways toward progressive gender consciousness for young men in Taiwan. In X. Lin, C. Haywood, & M. Mac an Ghaill (Eds.), East Asian men: Masculinity, sexuality and desire (pp. 237-258). Hampshire, UK: Palgrave Macmillan.
                        p.mb-0
                            a.btn.btn-primary(href='./download/學術出版/Pathways Toward Progressive Gender Consciousness for Young Men in Taiwan 2017 book.pdf') 閱讀全文
                    .list-group-item
                        p.mb-1 畢恆達、潘柏翰、洪文龍（2014）〈LGBT〉。陳瑤華（編）《台灣婦女處境白皮書：2014年》（頁381-413）。台北：女書。
                    .list-group-item
                        p.mb-1
                            | Chen, Y.-L. & Bih, H.-D. (2014). The pro-market housing system and demographic change in Taiwan. In J. Doling & R. Ronald (Eds.), Housing in East Asia (pp. 205-227). Hampshire, UK: Palgrave. (ISBN-13: 978-0230358584 )
                        p.mb-0
                            a.btn.btn-primary(href='./download/學術出版/Housing East Asia The pro-market housing 2014 book.pdf') 閱讀全文
                    .list-group-item
                        p.mb-1
                            | Kao, Y.-C. & Bih, H.-D. (2014). Masculinity in ambiguity: Constructing Taiwanese masculine identities between great powers. In J. Gelfer (Ed.). Masculinities in a global era (pp. 175-192). New York: Springer.  (ISBN: 9781461469308)
                        p.mb-0
                            a.btn.btn-primary(href='./download/學術出版/Masculinity in ambiguity 2014 book.pdf') 閱讀全文  
                    .list-group-item
                        p.mb-1 畢恆達（2014）《空間就是想像力》。台北：心靈工坊。（獲選文化部第37次中小學生優良課外讀物）
                    .list-group-item
                        p.mb-1 瞿海源、畢恆達、劉長萱、楊國樞（編）（2012）《社會及行為科學研究法》。台北：東華。
                    .list-group-item
                        p.mb-1 畢恆達（2012）〈研究倫理〉。瞿海源、畢恆達、劉長萱、楊國樞（編）《社會及行為科學研究法》（頁35-61）。台北：東華。
                    .list-group-item
                        p.mb-1
                            | Bih, H.-D. & Chen, Y.-L. (2011). Neo-liberalization and the invisibility of women’s housing problems in Taiwan. In P. Kennett & K.
                            | -W. Chan (Eds.), Women and housing: An international analysis (pp. 152-170). New York: Routledge. (ISBN-13: 978-0415548977)
                        p.mb-0
                            a.btn.btn-primary(href='./download/學術出版/Women and housing Ch 9 2011 book.pdf') 閱讀全文
                    .list-group-item
                        p.mb-1
                            | 畢恆達（2011）《塗鴉鬼飛踢》。台北：遠流。（2011中國時報開卷年度十大美好生活書獎）（入圍第36屆金鼎獎：人文類書籍）（ISBN 13: 9789573267935）
                    .list-group-item
                        p.mb-1 畢恆達（2010）《教授為什麼沒告訴我：2010全見版》。新北市：小畢空間。（ISBN 13: 9789867840691）
                    .list-group-item
                        p.mb-1
                            | 畢恆達（2010）〈教科書中的性別意識〉。教育部性別平等教育輔導群（編）《性/別SNG：性別平等教育菁華實錄彙編》（頁47-60）。臺北：教育部性別平等教育輔導群。
                    .list-group-item
                        p.mb-1 畢恆達、洪文龍（編）（2007）《大學校園性別空間總體檢研討暨工作坊》。台北：教育部高教司。
                    .list-group-item
                        p.mb-1 畢恆達（2007）《大學校園性別空間體檢手冊》。台北：教育部高教司。
                    .list-group-item
                        p.mb-1 畢恆達（2007）《教授為什麼沒告訴我：論文寫作的枕邊書》。北京：法律出版社。（簡體字版）
                    .list-group-item
                        p.mb-1 畢恆達（編）（2007）《太空人與小紅帽》。台北：教育部。
                    .list-group-item
                        p.mb-1 畢恆達（編）（2006）《性別解碼全記錄》。台北：教育部。
                    .list-group-item
                        p.mb-1 畢恆達（2006）《安全與無性別偏見的校園空間》。台北：教育部。
                    .list-group-item
                        p.mb-1 畢恆達、張素珠（2006）《性別與運動》（2006年版中華民國體育白皮書）。台北：行政院體育委員會。（Ncpfs-Res-092-001）
                    .list-group-item
                        p.mb-1 畢恆達、洪文龍（2006）《GQ男人在發燒》。台北：女書。（入圍第31屆金鼎獎：社會科學圖書類）（ISBN 13: 9789573267935）
                    .list-group-item
                        p.mb-1 畢恆達（編）（2006）《休閒生活專題：性別與空間研究室通訊第六期》。台北：臺灣大學建築與城鄉研究所性別與空間研究室。
                    .list-group-item
                        p.mb-1 畢恆達（2005）〈性別化都市空間：從性別觀點檢視十年來的公共空間政策〉。畢恆達（編）《性別與空間之教學、研究與政策十年回顧與前瞻》，13-42。
                    .list-group-item
                        p.mb-1 畢恆達（編）（2005）《性別與空間之教學、研究與政策十年回顧與前瞻》。台北：臺灣大學建築與城鄉研究所性別與空間研究室。
                    .list-group-item
                        p.mb-1
                            | 畢恆達（2005）《大同小異：性別平等教育概述》。e等公務園學習網政策法治系列課程（http:elearning.hrd.gov.tw）。台北：公務人力發展中心
                            | 。
                    .list-group-item
                        p.mb-1 畢恆達（2005）《教授為什麼沒告訴我：論文寫作的枕邊書》。台北：學富。
                    .list-group-item
                        p.mb-1
                            | 畢恆達（2005）〈当男人遇见女性主义：男性性别意识形成之研究〉。谭琳、刘伯红（编）《中国妇女研究十年（1995～2005）》（頁602-610）。北京：社会科学文献出版社。
                    .list-group-item
                        p.mb-1 畢恆達（2004）《空間就是性別》。台北：心靈工坊。
                    .list-group-item
                        p.mb-1
                            | 畢恆達（2004）〈討論文章：「從方法論的要求到女性主義方法論的追求」〉。潘慧玲（編）《教育研究方法論：觀點與方法》（頁401-404）。 台
                            | 北：心理。
                    .list-group-item
                        p.mb-1 畢恆達（2002）〈當男人遇見女性主義：男性性別意識形成歷程之研究〉。謝臥龍（編）《性別：解讀與跨越》（頁319-332）。台北：五南。（轉載）
                    .list-group-item
                        p.mb-1
                            | 畢恆達（2001）《空間就是權力》。台北：心靈工坊。（中國時報開卷2001年度十大好書，中文創作類；聯合報讀書人2001年度最佳書獎；亞洲週刊2001台灣十本最具影響力的書；誠品2001年6月選書；誠品書店2001年度推薦書榜）
                    .list-group-item
                        p.mb-1 畢恆達（2000）〈性別與空間〉。《承先啟後另壹章：第11屆學術委員會演講活動講稿彙編》（頁42-49）。台北市建築師公會。
                    .list-group-item
                        p.mb-1 畢恆達（編）（2000）《白絲帶運動：男人參與終止性（別）暴力》。台北：台灣大學婦女研究室。
                    .list-group-item
                        p.mb-1 畢恆達等（1999）《建立安全與無性別偏見之校園空間指標》。教育部。
                    .list-group-item
                        p.mb-1 畢恆達等（1999）《台大校園性別空間總體檢》。台大性別歧視與性侵犯防治委員會。
                    .list-group-item
                        p.mb-1 畢恆達等（1999）《中小學教師兩性平等教育工作坊研習教材》。教育部。
                    .list-group-item
                        p.mb-1 畢恆達（1999）〈性別與空間〉。王雅各（編）《性屬關係（下）：性別與文化、再現》（頁35-61）。台北：心理。
                    .list-group-item
                        p.mb-1 畢恆達（1998）〈環境災害與心理〉。於幼華（編）《環境與人》（頁304-320）。台北：遠流。
                    .list-group-item
                        p.mb-1 畢恆達（1998）〈社會研究的研究者與倫理〉。嚴祥鸞（編）《研究倫理：危險與秘密》（頁31-91）。台北：三民。
                        p.mb-0
                            a.btn.btn-primary(href='./download/學術出版/研究倫理危險與秘密.pdf') 閱讀全文
                    .list-group-item
                        p.mb-1 畢恆達（1998）〈自然環境與人的心理健康〉。劉小如、黃勉善（編）《新世紀的自然保育行動綱領》（頁15-24）。台北：厚生基金會。
                    .list-group-item
                        p.mb-1 畢恆達（1998）〈人與物的生活對話〉。行政院勞工委員會（編）《經營21世紀優質生活》（頁221-294）。台北：行政院勞工委員會。
                    .list-group-item
                        p.mb-1 畢恆達（編）（1998）《同志空間專題：性別與空間研究室通訊第五期》。台北：臺灣大學建築與城鄉研究所性別與空間研究室。
                    .list-group-item
                        p.mb-1 畢恆達（1997）〈空間與建築導讀〉。《一生的讀書計畫》（頁13-18）。誠品書店。
                    .list-group-item
                        p.mb-1 畢恆達（編）（1997）《校園環境與教育國際研討會論文集》。台北：教育部。
                    .list-group-item
                        p.mb-1 畢恆達（編）（1997）《女性空間安全專題：性別與空間研究室通訊第四期》。台北：臺灣大學建築與城鄉研究所性別與空間研究室。
                    .list-group-item
                        p.mb-1 畢恆達（編）（1996）《廁所專題：性別與空間研究室通訊第三期》。台北：臺灣大學建築與城鄉研究所性別與空間研究室。
                    .list-group-item
                        p.mb-1 畢恆達（1996）〈詮釋學與質性研究〉。胡幼慧（編）《質性研究：理論、方法及本土女性研究實例》（頁27-45）。台北：巨流。
                    .list-group-item
                        p.mb-1 畢恆達（1996）《物情物語》。台北：張老師文化。（啟明分館做點字書）
                    .list-group-item
                        p.mb-1
                            | 畢恆達（1996）《找尋空間的女人》。台北：張老師文化。（入選全國讀書會民國85年十大票選好書阿勃勒獎；中山女高百本好書推薦）（〈男人設
                            | 計女人用〉、〈給我一個自己的地方〉、〈她的工作不值錢？〉重刊於仇小屏、陳梅香、王翠玲、陳美朱（編）（2014）《知覺與洞察》。臺北：新學林。）
                    .list-group-item
                        p.mb-1 畢恆達（編）（1996）《女性空間專業者專題：性別與空間研究室通訊第二期》。台北：臺灣大學建築與城鄉研究所性別與空間研究室。
                    .list-group-item
                        p.mb-1 畢恆達（1996）〈兩性情感篇〉。蕭正儀、陳絜吾（編）《單身生活成功百科》（頁1-17）。台北：海山有線文化。
                    .list-group-item
                        p.mb-1 畢恆達（編）（1995）《性別與空間：性別與空間研究室通訊創刊號》。台北：臺灣大學建築與城鄉研究所性別與空間研究室。
                    .list-group-item
                        p.mb-1 畢恆達（1994）《台北縣國民中小學整體環境規劃與設計手冊》。台北縣政府。
                    .list-group-item
                        p.mb-1 畢恆達（1993）〈人造環境與設計〉。於幼華（編）《土木與環境》（頁433-461）。中華民國環境工程學會。
                    .list-group-item
                        p.mb-1 畢恆達（1993）〈環境災害與心理〉。《大專通識環境教育課程教材》（頁259-264）。教育部環保小組。

            .row
                .col-md-12.text-center.ftco-animate
                    .row.justify-content-center.mb-5
                        .col-md-7
                            p.lead 學術會議論文（Conference Papers）

            .row
                .col-md-12.mb-5.ftco-animateY
                    .list-group-item
                        p.mb-1
                            | Bih, H.-D. (2018). The formation of Female Studies Club, National Taiwan University. In The 9th East Asian Regional Conference in Alternative Geography. Dec. 10-15, Daegu, Korea.
                    .list-group-item
                        p.mb-1
                            | Wang, T.-A., Chou, C.-F., Bih, H.-D. (2017). A study of Facebook Space Pattern Based on User Behaviors. 2017 International Conference on Data Mining, Communications and Information Technology. May 25-27, Phuket, Tailand.
                    .list-group-item
                        p.mb-1
                            | Wu, C.-H., Chou, C.-F., & Bih, H.-D. (2015). Facebook news feed homogeneity and associated factors. Asia Simulation Conference 2O15, November 4-7, Jeju Island, Korea.
                    .list-group-item
                        p.mb-1
                            | Peng, Y.-W. & Bih, H.-D. (2015). Beyond dichotomous sex/gender analysis: Analyzing the perceptions of unisex toilets among different sexes/genders. Gender Summit 6 Asia Pacific 2015, 26 - 28 August, 2015, Seoul, Korea.
                    .list-group-item
                        p.mb-1 畢恆達（2014/09）〈空間就是想像力〉。第十四屆海峽兩岸大學的校園研討會，哈爾濱工業大學。
                    .list-group-item
                        p.mb-1
                            | Bih, H.-D. & Peng, Y.-W. (2014, July). Unisex toilets for all? The sexual/gender ideology of public toilets in Taiwan. 07.13─07.19, XVIII ISA World Congress of Sociology, Yokohama, Japan.
                    .list-group-item
                        p.mb-1 畢恆達（2013/10）〈人與環境關係導論：從觀察、體驗、詮釋到參與空間〉。第十三屆海峽兩岸大學的校園研討會，廈門大學。
                    .list-group-item
                        p.mb-1
                            | 蘇怡帆、畢恆達、黃國晏（2012）〈視障者在都市空間中的移動體驗〉。中華視覺障礙教育學會（編）《2012視覺障礙教育國際學術研討會論文成果
                            | 集》（頁96-115）。台北：中華視覺障礙教育學會。
                    .list-group-item
                        p.mb-1
                            | Chen, Y.-L .& Bih, H.-D. (2012, Sept.). Housing and social change in Taiwan. Paper presented at the International Conference on Social Welfare and Public Policy. Seoul, Republic of Korea.
                    .list-group-item
                        p.mb-1
                            | Chen, Y.-L .& Bih, H.-D. (2012, Feb.). Gender and the housing question in Taipei City: Low-income single mothers in Taipei’s low-c
                            | ost housing. Paper presented at the 2012 Annual Meeting of the Association of American Geographers, New York.
                    .list-group-item
                        p.mb-1
                    .list-group-item
                        p.mb-1
                            | Chen, Y.-L., Bih, H.-D., & Tarng, S.-W. (2011, Dec.). Neoliberalism and housing market: The changing role of the state in Taiwan. Paper presented at the 2011 APNHR Conference in Hong Kong: Neoliberalism and Urbanisation in Asia Pacific: Challenges and Opportunities for Housing. The University of Hong Kong, Hong Kong.
                    .list-group-item
                        p.mb-1
                            | Bih, H.-D. (2010, July). Street graffiti culture in Taiwan. Paper presented at the Eighth International Conference on New Directions in the Humanities. University of California, Los Angeles, USA.
                    .list-group-item
                        p.mb-1 畢恆達（2009/10）〈無性別偏見的大學校園空間〉。第九屆海峽兩岸大學的校園研討會，重慶大學。
                    .list-group-item
                        p.mb-1 畢恆達、黃海濤（2009/06）〈阿魯巴與“High”文化：探討一種男性青少年遊戲中的同儕文化〉。社會性別研究國際學術會議，上海復旦大學。
                    .list-group-item
                        p.mb-1
                            | Bih, H.-D. & Chen, Y.-L. (2008, Dec.). Women and housing in Taiwan. Paper presented at the 5th East Asian Regional Conference in Alternative Geography (EARCAG), Seoul, Korea.
                    .list-group-item
                        p.mb-1
                            | Bih, H.-D. & Peng, Y.-W. (2008, July). Protection, correction, or exclusion: The gender implications of women-only train cars in Taiwan. Paper presented at the Women’s Worlds 2008: 10th International Interdisciplinary Congress on Women, Madrid, Spain.
                    .list-group-item
                        p.mb-1 畢恆達、楊松翰（2007/10）〈課程與大學校園空間生產的互動機制〉。第七屆海峽兩岸大學的校園研討會，南京東南大學。
                    .list-group-item
                        p.mb-1 畢恆達、彭渰雯（2007/10）〈保護？矯正？排除？女性專用車廂的性別意涵〉。「家庭與工作：變遷現象與多元想像」研討會，台灣女性學學會。
                    .list-group-item
                        p.mb-1 畢恆達、郭怡伶、洪文龍（2006/06）〈校園阿魯巴的男性氣概建構〉。性別平等教育的挑戰與前景：亞太地區第二屆國際研討會。香港：香港教育學院。
                    .list-group-item
                        p.mb-1 畢恆達（2006/12）〈男性研究與女性主義〉。男性與性別平等：多元對話與研討。北京：北京首都師範大學等。
                    .list-group-item
                        p.mb-1 畢恆達（2005/04）〈性別化都市空間：從性別觀點檢視十年來的公共空間政策〉。性別主流化在台灣：第一屆性別研究與公共政策學術研討會，世新大學性別研究所。
                    .list-group-item
                        p.mb-1 畢恆達（2004/02）〈警政實務的性別分析〉。女警政策研討會，內政部警政署、中央警察大學。
                    .list-group-item
                        p.mb-1 畢恆達（2004/12）〈男女性別意識形成之歷程〉。亞洲婦女問題的檢視與展望國際學術研討會。香港珠海書院亞洲研究中心、北京大學中外婦女問題研究中心。
                    .list-group-item
                        p.mb-1
                            | Bih, H.-D. (2004, March). Discourses and activities: Exploring how men are engaging in gender equity in Taiwan. Paper presented at
                            | the 48th Session of the Commission on the Status of Women, United Nations.
                    .list-group-item
                        p.mb-1
                            | Bih, H.-D. (2003, Sept.). Gender politics in fieldwork for female researchers. Paper presented at the RGS-IBG (Royal Geographical Society with the Institute of British Geographers) International Annual Conference 2003, London.
                    .list-group-item
                        p.mb-1
                            | 畢恆達（2003/10）〈台灣大學校園空間性別總體檢〉。越冰（編），《海峽兩岸大學的校園學術研討會論文集》（頁88-92）。中國建築工業出版社
                            | 。
                    .list-group-item
                        p.mb-1
                            | 畢恆達（2003/09）〈女性性別意識形成歷程〉。意識‧認同‧實踐：2003年女性主義學術研討會。台灣女性學學會、清華大學性別與社會研究室、清
                            | 華大學通識教育中心。
                    .list-group-item
                        p.mb-1
                            | 畢恆達（2002）〈非自願遷移的空間經驗：康樂里（台北十四、十五號公園預定地）拆遷個案〉。第五屆中國環境行為學會年會：都市的文化、空間
                            | 與品質。10月23-26日，上海同濟大學。
                    .list-group-item
                        p.mb-1
                            | Bih, H.-D. & Wang. I.-T. (2002/07). Homecoming: A research on the characteristics of the logic of everyday practice and the operation of cultural field among home-returning indigenous cultural workers in South Taiwan. Paper presented at the 17th conference of the International Association for People-Environment Studies, Coruna, Spain. (NSC 89-2415-H-002-057)
                    .list-group-item
                        p.mb-1
                            | Bih, H.-D. (2001, June). The meaning of home in environmental disaster: A case study of landslide. Paper presented at the 32th Annual Conference of the Environmental Design Research Association, Edinburgh. (NSC88-2625-Z-002-045)
                    .list-group-item
                        p.mb-1
                            | Bih, H.-D. (2000, March). A study on the formation of gender consciousness of men in Taiwan. Paper presented at the 8th Annual Conference of the American Men's Studies Association, Buffalo. (NSC 87-2413-H-002-003)
                    .list-group-item
                        p.mb-1
                            | 畢恆達（2000）〈大專及研究所同儕性侵害/性騷擾個案處理模式：研究生同儕性騷擾〉。羅燦煐（編）《校園性侵害暨性騷擾案例處理模式實務手冊》（頁43-51）。台北：世新大學性別研究所。
                    .list-group-item
                        p.mb-1
                            | 畢恆達（2000/12）〈台灣男同性戀的現身與家庭關係〉。第五屆華人心理與行為科際學術研討會：家人關係及其心理歷程，中央研究院民族學研究所、國立台灣大學心理學系。(NSC 89-2413-H-002-011)
                    .list-group-item
                        p.mb-1
                            | Bih, H.-D. (1999, June). When men meet feminism. Paper presented at Women's World 99: The 7th Interdisciplinary Congress of Women,
                            | Tromso, Norway. (NSC 87-2413-H-002-003)
                    .list-group-item
                        p.mb-1
                            | 畢恆達（1999/05）〈當男人遇見女性主義：男性性別意識形成歷程之研究〉。1999性別與兩性研討會，高雄醫學院兩性研究中心。（NSC 87-2413-H-002-003）
                    .list-group-item
                        p.mb-1
                            | 畢恆達（1999/04）〈從環境轉換過程中探索家的意義：民生別墅與林肯大郡的個案分析〉。《社會變遷中生活的創意與突破學術研討會論文集》（頁27-37），輔仁大學生活應用科學系。 (NSC-83-0301-H-002-006; NSC 88-2625-Z-002-045)
                    .list-group-item
                        p.mb-1 畢恆達、黃千秀（1999）〈都會休閒與女性空間〉。《女性與休閒研討會》（頁45-58）。中華民國戶外遊憩學會。
                    .list-group-item
                        p.mb-1 畢恆達（1999/04）〈建立安全與無性別偏見之校園空間〉。邁向二十一世紀兩性平等教育國內學術研討會。
                    .list-group-item
                        p.mb-1 畢恆達、謝慧娟（1998/05）〈田野研究中的性別〉。探索台灣田野的新面向學術研討會，中央研究院民族學研究所。
                    .list-group-item
                        p.mb-1 畢恆達（1998）〈自然環境與人的心理健康〉。跨世紀國家自然保育策略研討會。
                    .list-group-item
                        p.mb-1
                            | Bih, H.-D. (1996). Women’s fear in public spaces. Paper presented at the 27th Annual Conference of the Environmental Design Resear
                            | ch Association. (NSC 84-2421-H-002-033)
                    .list-group-item
                        p.mb-1
                            | Bih, H.-D. (1995). Women and the meaning of home. Paper presented at the 103rd American Psychological Association Convention, New York. (NSC-84-2413-H-002-010)
                    .list-group-item
                        p.mb-1
                            | Bih, H.-D. (1995). The social and psychological impacts of a technological disaster: Radioactive contamination at home. Paper presented at the 26th Annual Conference of the Environmental Design Research Association. (with I.-C. Guo) (NSC-83-0301-H-002-006)
                    .list-group-item
                        p.mb-1
                            | 畢恆達（1995/04）〈婦女的住宅空間體驗〉。第一屆華人心理學家學術研討會/第三屆華人的心理與行為科際學術研討會合辦。(NSC-84-2413-H-002-010)
                    .list-group-item
                        p.mb-1 畢恆達（1995）〈婦女休閒與社會控制〉。婦女休閒研討會，中華民國戶外遊憩學會。
                    .list-group-item
                        p.mb-1 畢恆達（1995）〈科技災害的社會心理衝擊〉（NSC-83-0301-H-002-006）。國科會「81--83年度心理學門研究成果分析」研討會。
                    .list-group-item
                        p.mb-1 畢恆達（1995）〈另類心理學：意義的追尋〉。中國心理學會年會。
                    .list-group-item
                        p.mb-1
                            | 畢恆達（1994）〈住宅空間體驗的性別差異〉。都市住宅的議題與新方向：邁向廿一世紀之都市住宅研討會論文集，國立成功大學建築學系/中華民國建築學會，61--68。(NSC-84-2413-H-002-010)
                    .list-group-item
                        p.mb-1
            .row
                .col-md-12.text-center.ftco-animate
                    .row.justify-content-center.mb-5
                        .col-md-7
                            p.lead 學位論文（Dissertation and Thesis）
                
            .row
                .col-md-12.mb-5.ftco-animate
                    .list-group-item
                        p.mb-1 Bih, H.-D. (1992). The meaning of objects: A contextual analysis of experiences of Chinese students in their home and host country. Unpublished doctoral dissertation, Environmental Psychology Program, The Graduate Center, The City University of New York.
                    
                    .list-group-item
                        p.mb-1 畢恆達（1982）《高層國宅之空間設計與鄰里關係：國光社區個案研究》。國立臺灣大學土木工程學研究所碩士論文。