extends ./base.pug

block styles
    +categoryListCSS(true)

block content
    //- '#FED766'
    +headerColorBlock('人與環境關係','banner-relation.jpg')

    section#section-faq.ftco-section.ftco-slant.ftco-slant-light
        .container
            .row.mb-5
                .col-md-12.text-center.ftco-animate.fadeInUp.ftco-animated
                    h2.text-uppercase.ftco-uppercase 環境心理學簡介
            
            .row
                .col-md-12.mb-5.ftco-animate.fadeInUp.ftco-animated
                    
                    p 環境心理學的定義眾說紛紜，難以取得共識。環境心理學之父Harold Proshansky曾說：「環境心理學家所做的研究就是環境心理學」。當然這句話，似乎說了等於沒說，只證明了定義的困難。
                    p 環境心理學，簡單來說是一門研究社會/實質環境以及人類行為與經驗之交互關係的學科。如果閱讀環境心理學的教科書，會發現定義有所不同；而其背後同時反映了作者對於學術、科學的看法。這裡面有幾個關鍵字：（1）環境：研究實質環境（physical environment）是所有環境心理學家的共識，不過實質環境並無法孤立而存在，脫離了社會文化與人的脈絡，單純三度空間並沒有意義。所以多數作者並不只稱實質環境，而刻意使用社會/文化/實質環境（socio-cultural-physical environment）這個詞。有的作者會強調實質環境同時包括人造（built）與自然（natural）環境。（2）行為：當使用行為這個詞的時候，一方面容易讓讀者誤會作者篤信行為主義（behaviorism），另一方面行為只包括外顯、可觀察的行為，忽略了更為複雜的心理經驗與意義，因此多數作者會同時使用行為與經驗（behavior and experience），甚至福祉（well-being）（強調環境心理學的研究成果可以增進人的幸福，同時改善人類所賴以生存的環境。）當然也有作者只用行為，來強調這個學科的科學性，並且主張建立理論的目的在於預測與控制。（3）關係：不同的教科書，可能分別使用relationships, interrelationships, interactions, transactions或interplay等詞，如果使用transactions可能指涉Dewey的transactionalism，強調人與環境相互影響與建構的特質。Altman & Rogoff（1987）認為interaction是將環境與行為視為變項，互動之後只是改變了量（程度、位置）。然而transaction意涵環境與行為彼此相互定義，在互動後彼此都產生質的改變。                        
                    p 環境心理學與心理學的關係何在？主要有三種看法：（1）認為環境心理學是心理學的一支，就像認知心理學、社會心理學等，只是它的研究主題焦點放在實質環境/空間，基本的學術/理論觀點並無差別（如Bell, Greene, Fisher & Baum，2000）。（2）環境心理學是對於傳統主流心理學的批判，揚棄實證主義、實驗室的實驗方法，例如Barker（1968）的生態心理學。（3）環境心理學是一門問題取向（problem-centered）的跨學科研究領域，不受既有學術建制/學科分類的限制，只要有助於研究現象之分析的理論就應該納入，例如CUNY環境心理學的教授大都持這樣的看法。據此分析現有的環境心理學教科書，可以發現多數作者為心理學家，少數為空間規劃研究者，而其採取的立場恐怕還是接近第一種看法，對於實證的科學觀並沒有進行根本的挑戰。以流傳甚廣，已經出版至第五版的Bell, Greene, Fisher & Baum（2002）教科書為例，就明確指出理論的目的在於預測變項與變項之間的關係（頁102）。從另一種角度來看，現象學（phenomenology）這個詞就幾乎沒有在這些教科書中找到（Gifford（2014）的著作恐怕是少數例外）。Tuan有關地方（place, rootedness）的研究，Seamon提出的地方芭蕾（place ballet），以及海德格的dwelling，都是談論人與環境關係很重要的概念，然而主流環境心理學教科書卻不回顧這些文獻，將之納入環境心理學的一環。台灣所出版的幾本中文翻譯本，除了翻譯之外，並沒有導讀，更不用說會對這些教科書的預設與限制提出批判式的閱讀，介紹給中文的讀者。加上，翻譯的教科書無法回應台灣文化、空間、心理的特殊性與差異問題，也沒有引介與批評台灣現有的環境心理學的學術研究成果。因此，台灣本土撰寫的環境心理學教科書有其必要性與迫切性。
                    p 這個頁面的連結檔案是過去由「人與環境關係研究學會」所出版的通訊，裡面有環境心理學的新知、研究、課程。學會的英文簡稱為HERS，是刻意帶入女性主義的意涵，它的英文全名是Human Environment Relations Society。HERS也可以是環境心理學研究的簡稱，全名是Human Environment Relations Studies。

    section#section-faq.ftco-section.ftco-slant.ftco-slant-light.bg-light.ftco-slant.ftco-slant-white
        .container
            .row
                .col-sm-12
                    // Category
                    .single.category
                        h3.side-title HERS通訊下載
                        ul.list-unstyled
                            li 
                                | HERS通訊第1期 
                                a.btn.btn-primary.pull-right(href='./download/人與環境關係/HERS通訊第1期.doc') 閱讀全文
                            li 
                                | HERS通訊第2期 
                                a.btn.btn-primary.pull-right(href='./download/人與環境關係/HERS通訊第2期.doc') 閱讀全文
                            li 
                                | HERS通訊第3期 
                                a.btn.btn-primary.pull-right(href='./download/人與環境關係/HERS通訊第3期.doc') 閱讀全文
                            li 
                                | HERS通訊第7期復刊2 
                                a.btn.btn-primary.pull-right(href='./download/人與環境關係/HERS通訊第7期復刊2.docx') 閱讀全文
                            li 
                                | HERS通訊第8期復刊3 
                                a.btn.btn-primary.pull-right(href='./download/人與環境關係/HERS通訊第8期復刊3.docx') 閱讀全文
                            li 
                                | HERS通訊第9.5期 
                                a.btn.btn-primary.pull-right(href='./download/人與環境關係/HERS通訊第9.5期.docx') 閱讀全文
                            li 
                                | HERS通訊第9期復刊4 
                                a.btn.btn-primary.pull-right(href='./download/人與環境關係/HERS通訊第9期復刊4.docx') 閱讀全文
                            li 
                                | HERS通訊第10期復刊5 
                                a.btn.btn-primary.pull-right(href='./download/人與環境關係/HERS通訊第10期復刊5.docx') 閱讀全文
                            li 
                                | HERS通訊第11期復刊6 
                                a.btn.btn-primary.pull-right(href='./download/人與環境關係/HERS通訊第11期復刊6.docx') 閱讀全文
                            li 
                                | HERS通訊第12期復刊7 
                                a.btn.btn-primary.pull-right(href='./download/人與環境關係/HERS通訊第12期復刊7.docx') 閱讀全文
                            li 
                                | HERS通訊第13期復刊8 
                                a.btn.btn-primary.pull-right(href='./download/人與環境關係/HERS通訊第13期復刊8.docx') 閱讀全文
                            li 
                                | HERS通訊第14期復刊9 
                                a.btn.btn-primary.pull-right(href='./download/人與環境關係/HERS通訊第14期復刊9.docx') 閱讀全文
                            li 
                                | HERS通訊第15期復刊10 
                                a.btn.btn-primary.pull-right(href='./download/人與環境關係/HERS通訊第15期復刊10.docx') 閱讀全文    
                            li 
                                | HERS通訊第16期復刊11 
                                a.btn.btn-primary.pull-right(href='./download/人與環境關係/HERS通訊第16期復刊11.docx') 閱讀全文    
                            li 
                                | HERS通訊第17期復刊12 
                                a.btn.btn-primary.pull-right(href='./download/人與環境關係/HERS通訊第17期復刊12.docx') 閱讀全文    
                            li 
                                | HERS通訊第18期復刊13 
                                a.btn.btn-primary.pull-right(href='./download/人與環境關係/HERS通訊第18期復刊13.docx') 閱讀全文    
                        
